<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="${grp.name}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}" ></script>
<script th:src="@{/webjars/jquery/jquery.min.js}" ></script>
</head>
<body>
    <header th:insert="~{fragments/general.html :: header}"> </header>
	<div class="container-fluid border">
		<div class="row">
			<div class="col">
				<a  th:if="${prvGrp != null}" th:href="${prvGrpUrl}" th:text="${prvGrp.name}"/>
			</div>
			<div class="col-6">
				category : <a th:if="${category != null}" th:href="${catUrl}"
					th:text="${category.name}" /><br />
				<h1 th:text="${grp.name}" />
			</div>
			<div class="col">
				<a th:if="${nxtGrp != null}" th:href="${nxtGrpUrl}" th:text="${nxtGrp.name}" />
			</div>
		</div>

		<div class="row">
			<div class="col">
			<h3>Types</h3>
				<table>
					<tbody>
						<tr th:each="tl : ${types}">
							<td><a th:href="${tl.url}" th:text="${tl.type.name()}" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>