<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>dogma types</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
	<header th:insert="~{fragments/general.html :: header}"> </header>
	<div class="container-fluid border">
		<div class="row border">
			<div class="col">
				<h1>Type search</h1>
					<h2>By name</h2>
					<form method="get" th:action="@{/html/inventory/type/search/tn}">
						<input type="text" name="filter" th:value="${param.filter}" />
						<input type="submit" value="search" />
					</form>
					<h2>By id</h2>
					<form method="get" th:action="@{/html/inventory/type}">
						<input type="number" name="typeId" />
						<input type="submit" value="search" />
					</form>
			</div>
			<div class="col">
				<h1>Group search</h1>
<!-- 					<h2>By name</h2> -->
<!-- 					<form method="get" action="type/gn"> -->
<!-- 						<input type="text" name="filter" /> <input type="submit" -->
<!-- 							value="search" /> -->
<!-- 					</form> -->
					<h2>By id</h2>
					<form method="get" action="group/gi">
						<input type="number" name="groupId" />
						<input type="submit" value="search" />
					</form>
			</div>
		</div>
	</div>
	<div class="row border">
		<div class="col" th:if="${categories!=null && !categories.isEmpty()}">
			<h1>Categories</h1>
			<ul>
				<li th:each="cl : ${categories}"><a th:href="${cl.url}" th:text="${cl.category.name()}"/></li>
			</ul>
		</div>		
	</div>
	<div class="row border">
		<div th:if="${types!=null}" class="col">
			<h1>Types result</h1>
			<ul>
				<li th:each="type: ${types}"><a th:href="${type.url}"
					th:text="${type.name}" /></li>
			</ul>
		</div>
		<div th:if="${groups!=null}" class="col">
			<h1>Groups result</h1>
			<ul>
				<li th:each="group: ${groups}"><a th:href="${group.url}"
					th:text="${group.name}" /></li>
			</ul>
		</div>
	</div>
</body>
</html>