<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>user page</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}" ></script>
<script th:src="@{/webjars/jquery/jquery.min.js}" ></script>
</head>
<body>
	This is the user page.
	<ul>
	<li><a th:href="@{/connected/user/}">my account</a></li>
		<li><a th:href="@{/login}">log in</a></li>
		<li><a th:href="@{/logout}">log out</a></li>
	</ul>
</body>
</html>