<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav th:fragment="header"
		class="navbar navbar-expand-lg  navbar-dark bg-dark">
		<div class="collapse navbar-collapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" th:href="@{/}">Home</a>
				<a class="nav-item nav-link active" th:href="${@inventoryHTMLController.rootUrl()}">Inventory</a>
				<a class="nav-item nav-link active" th:href="${@marketHTMLController.rootUrl()}">Market</a>
				<a class="nav-item nav-link active" th:href="${@spRateHTMLController.rootUrl()}">Sp rate</a>
				<a class="nav-item nav-link active" th:href="${@loyaltyHTMLController.rootUrl()}">Loyalty</a>
				<a class="nav-item nav-link active" th:href="${@mutationHTMLController.productsUrl()}">Mutations</a>
			</div>
		</div>
	</nav>
</body>
</html>