<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>dogma types</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
	<h1>Type search</h1>
	<div>
		<h2>By name</h2>
		<form method="get" action="type/tn">
			<input type="text" name="filter"/>
			<input type="submit" value="get" />
		</form>
	</div>
	<div>
		<h2>By id</h2>
		<form method="get" action="type/ti">
			<input type="number" name="filter"/>
			<input type="submit" value="get" />
		</form>
	</div>
	<h1>Group search</h1>
	<div>
		<h2>By id</h2>
		<form method="get" action="group/gi">
			<input type="number" name="groupId"/>
			<input type="submit" value="get" />
		</form>
	</div>

</body>
</html>