<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="${name}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
    <header th:insert="~{fragments/general.html :: header}"> </header>
	<div class="container-fluid border">
		<div class="row border">
			<div class="col">
				<a th:if="${prvType != null}" th:href="${prvTypeUrl}"
					th:text="${prvType.name}">previous</a>
			</div>
			<div class="col-6">
				category : <a th:if="${category != null}" th:href="${catUrl}"
					th:text="${category.name}" /><br />
				group : <a th:if="${group != null}" th:href="${groupUrl}"
					th:text="${group.name}" /><br />
				market group : <a th:if="${marketGroup != null}" th:href="${marketGroup.url}"
					th:text="${marketGroup.name}" /><br />
				<h1 th:text="${name}" />
			</div>
			<div class="col">
				<a th:if="${nxtType != null}" th:href="${nxtTypeUrl}"
					th:text="${nxtType.name}">previous</a>
			</div>
		</div>
		<div class="row border">
			<h2>Informations</h2>
			<div class="col">
				<h3>Prices</h3>
				<span th:if="${marketUrl!=null}"> <a th:href="${marketUrl}">type
						market</a>
				</span>
				<table class="table table-striped table-hover">
					<tbody>
						<tr th:if="${jitaso!=null}">
							<td>Jita SO</td>
							<td><span th:text="${jitaso}"></span></td>
						</tr>
						<tr th:if="${jitabo!=null}">
							<td>Jita BO</td>
							<td><span th:text="${jitabo}"></span></td>
						</tr>
						<tr th:if="${average!=null}">
							<td>average</td>
							<td><span th:text="${average}"></span></td>
						</tr>
						<tr th:if="${adjusted!=null}">
							<td>adjusted</td>
							<td><span th:text="${adjusted}"></span></td>
						</tr>
						<tr th:if="${eiv!=null}">
							<td>eiv</td>
							<td><span th:text="${eiv}"></span></td>
						</tr>
						<tr th:if="${bpeiv!=null}">
							<td>blueprint eiv</td>
							<td><span th:text="${bpeiv}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col" th:if="${regionSell!=null && !regionSell.isEmpty()}">
				<h3>regional sell</h3>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>region</th>
							<th>price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="offer : ${regionSell}">
							<td><span th:text="${offer.regionName}"> region </span></td>
							<td><span th:text="${offer.formatedPrice}">
									price </span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col" th:if="${regionBuy!=null && !regionBuy.isEmpty()}">
				<h3>regional buy</h3>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>region</th>
							<th>price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="offer : ${regionBuy}">
							<td><span th:text="${offer.regionName}"> region </span></td>
							<td><span th:text="${offer.formatedPrice}">
									price </span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row border"
			th:if="${manufacturingProd!=null && !manufacturingProd.isEmpty()}">
			<h2>Manufacturing</h2>

			<div class="col">
				<h3>Products</h3>
				<table>
					<thead>
						<tr>
							<th>type</th>
							<th>quantity</th>
							<th>probability</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${manufacturingProd}">
							<td><a th:href="${product.url}"
								th:text="${product.type.name}"> type </a></td>
							<td><span th:text="${product.quantity}"> quantity </span></td>
							<th><span th:text="${product.probability}">
									probability </span></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col">
				<h3>Materials</h3>
				<table>
					<thead>
						<tr>
							<th>type</th>
							<th>quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="material : ${manufacturingMats}">
							<td><a th:href="${material.url}"
								th:text="${material.type.name}"> type </a></td>
							<td><span th:text="${material.quantity}"> quantity </span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row border"
			th:if="${reactionProd!=null && !reactionProd.isEmpty()}">
			<h2>Reaction</h2>
			<div class="col">
				<h3>Products</h3>
				<table>
					<thead>
						<tr>
							<th>type</th>
							<th>quantity</th>
							<th>probability</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${reactionProd}">
							<td><a th:href="${product.url}"
								th:text="${product.type.name}"> type </a></td>
							<td><span th:text="${product.quantity}"> quantity </span></td>
							<th><span th:text="${product.probability}">
									probability </span></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col">
				<h3>Materials</h3>
				<table>
					<thead>
						<tr>
							<th>type</th>
							<th>quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="material : ${reactionMats}">
							<td><a th:href="${material.url}"
								th:text="${material.type.name}"> type </a></td>
							<td><span th:text="${material.quantity}"> quantity </span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row border"
			th:if="${seeded !=null && !seeded.isEmpty()
						|| productOf !=null && !productOf.isEmpty()
						|| offers !=null && !offers.isEmpty()}">
			<h2>Source</h2>
			<div class="col" th:if="${seeded !=null && !seeded.isEmpty()}">
				<h3>NPC seed</h3>

				<table>
					<thead>
						<tr>
							<th>region space</th>
							<th>region name</th>
							<th>region id</th>
							<th>system name</th>
							<th>location id</th>
							<th>price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="seed : ${seeded}">
							<td><span th:text="${seed.space}"> region space </span></td>
							<td><span th:text="${seed.regionName}"> region name </span></td>
							<td><span th:text="${seed.regionId}"> region id </span></td>
							<td><span th:text="${seed.systemName}"> system name </span></td>
							<td><span th:text="${seed.locationId}"> location id </span></td>
							<td><span th:text="${seed.formatedPrice()}"> price </span></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col" th:if="${productOf !=null && !productOf.isEmpty()}">
				<h3>Product of</h3>
				<table>
					<thead>
						<tr>
							<th>type</th>
							<th>activity</th>
							<th>quantity</th>
							<th>probability</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${productOf}">
							<td><a th:href="${product.url}"
								th:text="${product.type.name}"> type </a></td>
							<td><span th:text="${product.activity}"> activity </span></td>
							<td><span th:text="${product.quantity}"> quantity </span></td>
							<th><span th:text="${product.probability}">
									probability </span></th>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col" th:if="${offers !=null && !offers.isEmpty()}">
				<h3>Loyalty</h3>

				<table>
					<thead>
						<tr>
							<th>offer</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="offer : ${offers}">
							<td><a th:href="${offer.url}" th:text="${offer.name}" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row border"
			th:if="${manufacturingUses !=null && !manufacturingUses.isEmpty() || reactionUses !=null && !reactionUses.isEmpty()}">
			<h2>Usage</h2>

			<div class="col"
				th:if="${manufacturingUses !=null && !manufacturingUses.isEmpty()}">
				<h3>Manufacturing</h3>

				<table>
					<thead>
						<tr>
							<th>type</th>
							<th>quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="use : ${manufacturingUses}">
							<td><a th:href="${use.url}" th:text="${use.type.name}">
									type </a></td>
							<td><span th:text="${use.quantity}"> quantity </span></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col"
				th:if="${reactionUses !=null && !reactionUses.isEmpty()}">
				<h3>Reaction</h3>

				<table>
					<thead>
						<tr>
							<th>type</th>
							<th>quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="use : ${reactionUses}">
							<td><a th:href="${use.url}" th:text="${use.type.name}">
									type </a></td>
							<td><span th:text="${use.quantity}"> quantity </span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row border">
			<div th:if="${types!=null}" class="col">
				<h1>Types result</h1>
				<ul>
					<li th:each="type: ${types}"><a th:href="${type.url}"
						th:text="${type.name}" /></li>
				</ul>
			</div>
			<div th:if="${groups!=null}" class="col">
				<h1>Groups result</h1>
				<ul>
					<li th:each="group: ${groups}"><a th:href="${group.url}"
						th:text="${group.name}" /></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>