<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="${#authentication.principal.name+' roles'}">page title</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
    <header th:insert="~{fragments/general.html :: header}"> </header>
	<h1 th:text="${#authentication.principal.name+' roles'}" />
	<div class="container-fluid border">
		<div class="row border" th:if="${roles != null}">
			<h2>character roles</h2>
			<div class="col" th:if="${roles.roles != null && !roles.roles.isEmpty()}">
				<h3>Roles</h3>
				<ul>
					<li th:each="role : ${roles.roles}" th:text="${role}"></li>
				</ul>
			</div>
			<div class="col" th:if="${roles.rolesAtBase != null && !roles.rolesAtBase.isEmpty()}">
				<h3>Roles at base</h3>
				<ul>
					<li th:each="role : ${roles.rolesAtBase}" th:text="${role}"></li>
				</ul>
			</div>
			<div class="col" th:if="${roles.rolesAtHq != null && !roles.rolesAtHq.isEmpty()}">
				<h3>Roles at HQ</h3>
				<ul>
					<li th:each="role : ${roles.rolesAtHq}" th:text="${role}"></li>
				</ul>
			</div>
			<div class="col" th:if="${roles.rolesAtOther != null && !roles.rolesAtOther.isEmpty()}">
				<h3>Roles at other</h3>
				<ul>
					<li th:each="role : ${roles.rolesAtOther}" th:text="${role}"></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
</body>
</html>