<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Eve proxy</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
</body>
    <header th:insert="~{fragments/general.html :: header}"> </header>
	<ul>
		<li><a th:href="@{/swagger-ui/index.html}">API Swagger</a></li>
		<li><a th:href="@{/html/npc/corporations}">LP corporations</a></li>
		<li><a th:href="@{/html/market}">market</a></li>
		<li><a th:href="@{/html/inventory/search}">Inventory</a></li>
		<li><a th:href="@{/html/planet/factories}">Planetary factories</a></li>
	</ul>

</html>