<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="${'standings of ' + charName}">page title</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
    <header th:insert="~{fragments/general.html :: header}"> </header>
	<h1>
		NPC standings of <span th:text="${charName}" />
	</h1>
	
	<div class="container-fluid border">
		<div class="row border">
			<div class="col">
				<h2>Factions</h2>
				<table class="table table-striped table-hover">
					<thead class="thead-light sticky-top bg-light">
						<tr>
							<th>name</th>
							<th>standing</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="standing : ${factionStandings}">
							<td th:text="${standing.fromName}"/>
							<td th:text="${standing.standing}"/>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col">
				<h2>Corporations</h2>
				<table class="table table-striped table-hover">
					<thead class="thead-light sticky-top bg-light">
						<tr>
							<th>name</th>
							<th>standing</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="standing : ${corporationStandings}">
							<td th:text="${standing.fromName}"/>
							<td th:text="${standing.standing}"/>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col">
				<h2>Agents</h2>
				<table class="table table-striped table-hover">
					<thead class="thead-light sticky-top bg-light">
						<tr>
							<th>name</th>
							<th>standing</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="standing : ${agentStandings}">
							<td th:text="${standing.fromName}"/>
							<td th:text="${standing.standing}"/>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
</body>
</html>