<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Accelerators rating</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
    <header th:insert="~{fragments/general.html :: header}"> </header>
	<div class="container-fluid border">
		<div class="row border">
		<h1 th:text="${'Rating of accelerators at '+locationName}"/>
			<span>
				<a th:href="${jitaUrl}">Jita</a>
				<a th:href="${amarrUrl}">Amarr</a>
				<a th:href="${dodixieUrl}">Dodixie</a>
				<a th:href="${hekUrl}">Hek</a>
				<a th:href="${rensUrl}">Rens</a>
			</span>
		</div>

		<div class="row">
			<div class="col" th:if="${accelerators!=null}">
			<table class="table table-striped table-hover">
				<thead class="thead-light sticky-top bg-light">
					<tr>
						<th>type</th>
						<th>price</th>
						<th>SP</th>
						<th>SP/Misk</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="accelerator : ${accelerators}">
						<td>
							<a
								th:text="${accelerator.typeName}"
								th:href="${@typeHTMLController.typeUrl(accelerator.typeId)}"
							/>
						</td>
						<td th:text="${accelerator.price}"/>
						<td th:text="${accelerator.spGain}"/>
						<td th:text="${accelerator.formatedSpPMIsk()}"/>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>

</body>