<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="'Market search'" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
    <header th:insert="~{fragments/general.html :: header}"> </header>
	<div class="container-fluid border">
		<div class="row border">
			<h1>Market search</h1>
			<form method="get" th:action="@{${action}}">
				<div class="row form-row"> 
				<div class="col-md-2">
					<input type="text" class="form-control" name="typeName"
						th:value="${param.typeName!=null ? param.typeName[0]:''}" />
				</div>
					<div class="col-md-1">
				 		<input type="submit" class="form-control" value="search" />
					</div>
				</div>
			</form>
		</div>
		<div class="row border" th:if="${types!=null
			|| groups!=null}">
			<div class="col" th:if="${types!=null}">
				<h2>Matching types</h2>
				<ul>
					<li th:each="type : ${types}"><a th:text="${type.name}"
						th:href="${type.url}" /></li>
				</ul>
			</div>
			<div class="col" th:if="${groups!=null}">
				<h2>Matching groups</h2>
				<ul>
					<li th:each="group : ${groups}"><a th:text="${group.name}"
						th:href="${group.url}" /></li>
				</ul>
			</div>
		</div>
		<div class="row border">
			<h1>Ratings</h1>
			<a th:href="${acceleratorsRatingJita}">accelerators</a>
		</div>
		<div class="row border">
			<h1>Weekly most sold</h1>
			<div class="col" th:if="${regionalMarketSales!=null && !regionalMarketSales.isEmpty()}">
				<h2>Regional Markets</h2>
				<table class="table">
					<thead class="thead-light sticky-top bg-light">
						<tr>
						<th>type</th>
						<th>value</th>
						<th>quantity</th>
						<th>unit price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="line : ${regionalMarketSales}">
							<td><a th:href="${line.url}" th:text="${line.typeName}" /></td>
							<td th:text="${line.valueSoldString}" />
							<td th:text="${line.quantitySold}" />
							<td th:text="${line.unitPriceString}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col" th:if="${unresearchedContractSales!=null}">
				<h2>Completed Unresearched Contracts</h2>
				<table class="table">
					<thead class="thead-light sticky-top bg-light">
						<tr>
						<th>type</th>
						<th>value</th>
						<th>quantity</th>
						<th>unit price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="line : ${unresearchedContractSales}">
							<td><a th:href="${line.url}" th:text="${line.typeName}" /></td>
							<td th:text="${line.valueSoldString}" />
							<td th:text="${line.quantitySold}" />
							<td th:text="${line.unitPriceString}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col" th:if="${bpoContractSales!=null}">
				<h2>Completed researched BPO Contracts</h2>
				<table class="table">
					<thead class="thead-light sticky-top bg-light">
						<tr>
						<th>type</th>
						<th>value</th>
						<th>quantity</th>
						<th>unit price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="line : ${bpoContractSales}">
							<td><a th:href="${line.url}" th:text="${line.typeName}" /></td>
							<td th:text="${line.valueSoldString}" />
							<td th:text="${line.quantitySold}" />
							<td th:text="${line.unitPriceString}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col" th:if="${bpcContractSales!=null}">
				<h2>Completed BPC Contracts</h2>
				<table class="table">
					<thead class="thead-light sticky-top bg-light">
						<tr>
						<th>type</th>
						<th>value</th>
						<th>runs</th>
						<th>run price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="line : ${bpcContractSales}">
							<td><a th:href="${line.url}" th:text="${line.typeName}" /></td>
							<td th:text="${line.valueSoldString}" />
							<td th:text="${line.quantitySold}" />
							<td th:text="${line.unitPriceString}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>