<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="'Orders for '+${name}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
    <header th:insert="~{fragments/general.html :: header}"> </header>
	<div class="container-fluid border">
		<div class="row border">
			<h1 th:text="'Market orders for '+ ${name}"></h1>
			<span th:if="${typeUrl!=null}"><a th:href="${typeUrl}"
				th:text="'type info'" /></span>
		</div>

		<div class="row border">
			<div class="col" th:if="${sos!=null && !sos.isEmpty()}">
				<h2>Sell orders</h2>
				<div class="overflow-auto" style="height: 70vh;">
					<table class="table table-striped table-hover">
						<thead class="thead-light sticky-top bg-light">
							<tr>
								<th>price</th>
								<th>quantity</th>
								<th>volume min</th>
								<th>expires</th>
								<th>type</th>
								<th>region</th>
								<th>location</th>
								<th th:if="${showDetails}">details</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order : ${sos}">
								<td th:text="${order.formatedPrice}" />
								<td th:text="${order.volumeRemain}" />
								<td th:text="${order.minVolume}" />
								<td th:text="${order.formatedExpires}" />
								<td >
									<span th:if="${order.url==null}" th:text="${order.orderType}" />
									<a th:if="${order.url!=null}" th:text="${order.orderType}" th:href="${order.url}"/>
								</td>
								<td th:text="${order.regionName}" />
								<td th:text="${order.locationName}" />
								<td th:if="${showDetails}" th:text="${order.details}" />
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col" th:if="${bos!=null && !bos.isEmpty()}">
				<h2>Buy orders</h2>
				<div class="overflow-auto" style="height: 70vh;">
					<table class="table table-striped table-hover">
						<thead class="thead-light sticky-top bg-light">
							<tr>
								<th>price</th>
								<th>quantity</th>
								<th>volume min</th>
								<th>expires</th>
								<th>type</th>
								<th>region</th>
								<th>location</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order : ${bos}">
								<td th:text="${order.formatedPrice}" />
								<td th:text="${order.volumeRemain}" />
								<td th:text="${order.minVolume}" />
								<td th:text="${order.formatedExpires}" />
								<td >
									<span th:if="${order.url==null}" th:text="${order.orderType}" />
									<a th:if="${order.url!=null}" th:text="${order.orderType}" th:href="${order.url}"/>
								</td>
								<td th:text="${order.regionName}" />
								<td th:text="${order.locationName}" />
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col" th:if="${historyChartUrl!=null}">
				<h2>history</h2>
				<a th:href="${historyChartUrl}">
					<img th:src="${historyChartUrl}" class="img-fluid" alt="history chart">
				</a>
			</div>
			<div class="col" th:if="${completed!=null}">
				<h2>Completed</h2>
				<div class="overflow-auto" style="height: 70vh;">
					<table class="table table-striped table-hover">
						<thead class="thead-light sticky-top bg-light">
							<tr>
								<th>run price</th>
								<th>runs</th>
								<th>region</th>
								<th>location</th>
								<th>details</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order : ${completed}">
								<td th:text="${order.formatedPrice}" />
								<td th:text="${order.volumeRemain}" />
								<td th:text="${order.regionName}" />
								<td th:text="${order.locationName}" />
								<td>
									<span th:if="${order.url==null}" th:text="${order.details}" />
									<a th:if="${order.url!=null}" th:text="${order.details}" th:href="${order.url}"/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row border" th:if="${bpoVariants!=null && !bpoVariants.isEmpty() || bpcVariants!=null && !bpcVariants.isEmpty()}">
			<h1 th:text="'Variants of '+ ${name}"></h1>
			<a th:if="${baseTypeUrl!=null}" th:href="${baseTypeUrl}">Base type</a>
			<div class="col" th:if="${bpoVariants!=null && !bpoVariants.isEmpty()}">
				<h2>Bpos</h2>
				<ul class="overflow-auto">
					<li th:each="variant: ${bpoVariants}"><a th:text="${variant.name}" th:href="${variant.url}"/></li>
				</ul>
			</div>
			<div class="col" th:if="${bpcVariants!=null && !bpcVariants.isEmpty()}">
				<h2>Bpcs</h2>
				<ul class="overflow-auto">
					<li th:each="variant: ${bpcVariants}"><a th:text="${variant.name}" th:href="${variant.url}"/></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>