<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
	</appender>

	<appender name="FILEALL"
		class="ch.qos.logback.core.FileAppender">
		<file>target/traces.log</file>
		<immediateFlush>false</immediateFlush>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="JCESI" class="ch.qos.logback.core.FileAppender">
		<file>target/jcesi.log</file>
		<immediateFlush>false</immediateFlush>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
	</appender>

	<root level="trace">
		<appender-ref ref="FILEALL" />
		<appender-ref ref="STDOUT" />
	</root>

<!-- 	<logger name="fr.guiguilechat.jcelechat.jcesi" additivity="false"> -->
<!-- 		<appender-ref ref="JCESI" /> -->
<!-- 		<appender-ref ref="STDOUT" /> -->
<!-- 	</logger> -->
</configuration>