<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="${corpName}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
	<div class="container-fluid border">
		<div class="row">
			<div class="col">
				<a th:if="${prevCorpName != null}" th:href="${prevCorpUrl}"
					th:text="${prevCorpName}" />
			</div>
			<div class="col-6">
				<h1 th:text="${corpName}" />
			</div>
			<div class="col">
				<a th:if="${nextCorpName != null}" th:href="${nextCorpUrl}"
					th:text="${nextCorpName}" />
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3>Options</h3>
				<form method="get" th:action="@{${action}}">
					<table>
						<thead>
							<tr>
								<th>market location id</th>
								<th>lp amount</th>
								<th>material sourcing</th>
								<th>product valuator</th>
								<th>margin cost, % of sale price</th>
								<th>margin cost, % per job hour</th>
								<th>tax, % of sale price</th>
								<th>broker fee, % or price</th>
								<th>job cost, isk per BP</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input class="form-control" type="number"
									name="location" th:value="${params.location}" /></td>
								<td><input class="form-control" type="number" name="lp"
									th:value="${params.lp}" /></td>
								<td><select name="materialSourcing">
										<option
											th:each="strat : ${T(fr.guiguilechat.jcelechat.libs.spring.market.strategies.MaterialSourcing).values()}"
											th:value="${strat}"
											th:selected="${params.materialSourcing==strat}"
											th:text="${strat.explain}" />
								</select></td>
								<td><select name="productValuator">
										<option
											th:each="strat : ${T(fr.guiguilechat.jcelechat.libs.spring.market.strategies.ProductValuator).values()}"
											th:value="${strat}"
											th:selected="${params.productValuator==strat}"
											th:text="${strat.explain}" />
								</select></td>
								<td><input class="form-control" type="number" step="0.1"
									name="margin" th:value="${params.margin}" /></td>
								<td><input class="form-control" type="number" step="0.1"
									name="marginhour" th:value="${params.marginhour}" /></td>
								<td><input class="form-control" type="number" step="0.1"
									name="taxpct" th:value="${params.taxpct}" /></td>
								<td><input class="form-control" type="number" step="0.1"
									name="brpct" th:value="${params.brpct}" /></td>
								<td><input class="form-control" type="number" name="bpcost"
									th:value="${params.bpcost}" /></td>
							</tr>
						</tbody>
					</table>
					<p>
						<input type="submit" value="Submit" /> <input type="reset"
							value="Reset" />
					</p>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h3>Loyalty offers</h3>
				<div class="overflow-auto" style="height: 70vh;">
					<table class="table table-striped table-hover">
						<thead class="thead-light sticky-top bg-light">
							<tr>
								<th>Offer</th>
								<th>isk/lp</th>
								<th>nb offers</th>
								<th>Total gain</th>
								<th>Produces</th>
								<th>Consumes</th>
								<th>Total material cost</th>
								<th>Total margin cost</th>
								<th>Total tedious cost</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="offer : ${offers}">
								<td><a th:href="${offer.url}" th:text="${offer.name}" /></td>
								<td><span th:text="${offer.eval.formatedIskplp}" /></td>
								<td><span th:text="${offer.eval.offerQuantity}" /></td>
								<td><span th:text="${offer.eval.formatedGain}" /></td>
								<td><span class="user-select-all border border-light"><span th:text="${offer.eval.productQuantity}" /> <a
									th:href="${offer.finalProduct.url}"
									th:text="${offer.finalProduct.type.name}" /></span> @ <span
									th:text="${offer.eval.formatedProductUnitPrice}" />/u</td>
								<td>
									<ul class="user-select-all border border-light">
										<li th:each="mat : ${offer.materials}"><span
											th:text="${mat.quantity}" /> <a th:href="${mat.url}"
											th:text="${mat.type.name}" /></li>
									</ul>
								</td>
								<td><span th:text="${offer.eval.formatedMaterialCost}" /></td>
								<td><span th:text="${offer.eval.formatedMarginCost}" /></td>
								<td><span th:text="${offer.eval.formatedTediousCost}" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>