<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="${corpName}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
	<div class="container-fluid border">
		<div class="row">
			<!-- 			<div class="col"> -->
			<!-- 				<a  th:if="${prvCat != null}" th:href="${prvCatUrl}" th:text="${prvCat.name}"/> -->
			<!-- 			</div> -->
			<div class="col-6">
				<h1 th:text="${corpName}" />
			</div>
			<!-- 			<div class="col"> -->
			<!-- 				<a th:if="${nxtCat != null}" th:href="${nxtCatUrl}" th:text="${nxtCat.name}" /> -->
			<!-- 			</div> -->
		</div>

		<div class="row">
			<div class="col" >
				<h3>Offers</h3>
				<table class="table">
					<thead>
						<tr>
							<th>offer</th>
							<th>product</th>
							<th>nb offers</th>
							<th>nb products</th>
							<th>isk/lp sobo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="offer : ${offers}">
							<td><a th:href="${offer.url}" th:text="${offer.name}"/></td>
							<td><a th:href="${offer.product.url}" th:text="${offer.eval.product.name}"/></td>
							<td><span th:text="${offer.eval.offerQuantity}" /></td>
							<td><span th:text="${offer.eval.productQuantity}" /></td>
							<td><span th:text="${offer.eval.iplSobo}" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>