<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title th:text="${offer.type.name}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" />
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}" ></script>
<script th:src="@{/webjars/jquery/jquery.min.js}" ></script>
</head>
<body>
	<div class="container-fluid border">
		<div class="row">
<!-- 			<div class="col"> -->
<!-- 				<a  th:if="${prvCat != null}" th:href="${prvCatUrl}" th:text="${prvCat.name}"/> -->
<!-- 			</div> -->
			<div class="col-6">
				<h1 th:text="${offer.type.name}" />
			</div>
<!-- 			<div class="col"> -->
<!-- 				<a th:if="${nxtCat != null}" th:href="${nxtCatUrl}" th:text="${nxtCat.name}" /> -->
<!-- 			</div> -->
		</div>

		<div class="row">
			<div class="col">
				<h3>Info</h3>
				corporation : <a th:href="${corporation.url}" th:text="${corporation.name}" /><br />
				product : <span th:text="${offer.quantity}"/>×<a th:href="${product.url}" th:text="${product.type.name}" />
			</div>
			
			<div class="col">
				<h3>Requirement</h3>
				isk : <span th:text="${offer.iskCost}"/><br />
				lp : <span th:text="${offer.lpCost}"/><br />
				ak : <span th:text="${offer.akCost}"/><br />
			</div>
		
			<div class="col" th:if="${offerMats!=null && !offerMats.isEmpty()}">
				<h3>Materials</h3>
				<table>
					<thead>
						<tr>
							<th>type</th>
							<th>quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="material : ${offerMats}">
							<td><a th:href="${material.url}"
								th:text="${material.type.name}"> type </a></td>
							<td><span th:text="${material.quantity}"> quantity </span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>